# 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
# To save the variable to a file
test1 = 'This is a test of the emergency text system'
f = open("test.txt", "a")
f.write(test1)
f.close()

# To read the file
f = open("test.txt", "r")
print(f.read())

This is a test of the emergency text system

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:
f = open("test.txt" , "r")
test2 = f.read()
print("test1 =", test1)
print("test2 =", test2)

test1 = This is a test of the emergency text system
test2 = This is a test of the emergency text system

No, there is no difference between test1 and test2.

# 3. Create a CSV file called books.csv by using these lines:
        title,author,year
        The Weirdstone of Brisingamen,Alan Garner,1960
        Perdido Street Station,China MiÃ©ville,2000
        Thud!,Terry Pratchett,2005
        The Spellman Files,Lisa Lutz,2007
        Small Gods,Terry Pratchett,1992

In [5]:
import csv
data = [['title', 'author', 'year'],
        ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
        ['Perdido Street Station', 'China Mieville', 2000],
        ['Thud!', 'Terry Pratchett', 2005],
        ['The Spellman Files', 'Lisa Lutz', 2007],
        ['Small Gods', 'Terry Pratchett', 1992]]

with open("books.csv", "w", newline = "" ) as CSVfile :
    writer = csv.writer(CSVfile)
    writer.writerows(data)

f = open("books.csv", "r") 
print(f.read())

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mieville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [11]:
# impoting sqlite3 
import sqlite3

# Create database
conn = sqlite3.connect("books.db")
cursor = conn.cursor()

# Create the book table 

cursor.execute(""" CREATE Table books (title text ,author text, year integer)""")
cursor.execute("PRAGMA table_info(books);")

# Commit changes 
conn.commit()

# To print
print("Database and Table created sucessfully")
print(cursor.fetchall())

# Close the connection
conn.close()

Database and Table created sucessfully
[(0, 'title', 'TEXT', 0, None, 0), (1, 'author', 'TEXT', 0, None, 0), (2, 'year', 'INTEGER', 0, None, 0)]

# 5. Read books.csv and insert its data into the book table.

In [13]:
# import sqlite3 and csvfile
import sqlite3
import csv

# Create database
conn = sqlite3.connect("books.db")
cursor = conn.cursor()

# To open and read the csv file
f = open("books.csv", "r", encoding = "utf-8")
reader = csv.reader(f)
next(reader)
for row in reader:
    cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", (row[0], row[1], int(row[2])))

# Create the book table 
cursor.execute("SELECT * FROM books")

# Commit changes 
conn.commit()

# To print
print("Database and Table created sucessfully")
print(cursor.fetchall())

# Close the connection
conn.close()

Database and Table created sucessfully
[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China Mieville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]

# 6. Select and print the title column from the book table in alphabetical order.

In [15]:
# importing sqlite3
import sqlite3

# Create database
conn = sqlite3.connect("books.db")
cursor = conn.cursor()

#select the title column and print 
cursor.execute("SELECT title FROM books ORDER BY title ASC")
print("BOOK Titles (Alphabetic Order):")

# Fetch and print all titles
for row in cursor.fetchall():
    print(row[0])

# Close the connection
conn.close()

BOOK Titles (Alphabetic Order):
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

# 7. From the book table, select and print all columns in the order of publication.

In [17]:
# Importing sqlite3
import sqlite3

# Create database
conn = sqlite3.connect("books.db")
cursor = conn.cursor()

#Select all the columns in the order of publication
cursor.execute("SELECT * FROM books ORDER BY year ASC")

# Fetch and print books
print("Books Ordered BY year of Publication :")

for row in cursor.fetchall() :
    print(row[0], ",", row[1], ",", row[2])

# Close the connection
conn.close()

Books Ordered BY year of Publication :
The Weirdstone of Brisingamen , Alan Garner , 1960
Small Gods , Terry Pratchett , 1992
Perdido Street Station , China Mieville , 2000
Thud! , Terry Pratchett , 2005
The Spellman Files , Lisa Lutz , 2007

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [19]:
# install sqlalchemy
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\kalpe\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kalpe\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kalpe\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [21]:
# import a function from sqlalchemy module
from sqlalchemy import create_engine, text

# Create a connection to sqlite3 database
engine = create_engine("sqlite:///books.db")

# Establish connection
connection = engine.connect()

# Result
result = connection.execute(text("SELECT title FROM books ORDER BY title ASC"))
print("BOOK Titles (Alphabetic Order):")

# To print
for row in result :
    print(row[0])

BOOK Titles (Alphabetic Order):
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ("Fester Bestertester"). Print all the fields for test.

In [ ]:
pip install redis

In [1]:
pip show redis

Name: redisNote: you may need to restart the kernel to use updated packages.

Version: 5.2.1
Summary: Python client for Redis database and key-value store
Home-page: https://github.com/redis/redis-py
Author: Redis Inc.
Author-email: oss@redis.com
License: MIT
Location: C:\Users\kalpe\anaconda3\Lib\site-packages
Requires:
Required-by:

In [1]:
# importing redis
import redis

# Connect to redis server
r = redis.Redis(host = 'localhost', port = 6379, decode_responses = True)

# Create a redis hash
r.hset("test", "count", 1)
r.hset("test", "name", "Fester Bestertester")

# get and print all values
test_data = r.hgetall("test")
print(test_data)

{'count': '1', 'name': 'Fester Bestertester'}

# 10. Increment the count field of test and print it.

In [3]:
# importing redis
import redis

# Connect to redis server
r = redis.Redis(host = 'localhost', port = 6379, decode_responses = True)

# To increment the count
r.hincrby("test", "count", 1)

updated_count = r.hget("test", "count")
print("Updated count:", updated_count)

Updated count: 2