# 1. What exactly is []?
# Answer :
exactly '[]' indicate empty list.We can add varibales in this emty list with help of various list operation like append,insert etc.With help of some opperation like remove,pop,clear etc we can convert any list which contain variables into empty list.
example for this is as below :

In [1]:
l = []
l.append(1)

In [2]:
l

[1]

In [3]:
l = []
l1 = [1,54,-89,(78,'key'),'pop']
l.append(l1)
l

[[1, 54, -89, (78, 'key'), 'pop']]

# 2. In a list of values stored in a variable called spam, how would you assign            the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.) 
# Answer :

In [4]:
spam = [2,4,6,8,10]
spam.insert(2,'hello')
spam

[2, 4, 'hello', 6, 8, 10]

In [5]:
# for next 3 questions :
spam = ['a', 'b', 'c', 'd']

# 3. What is the value of spam[int(int('3' * 2) / 11)]?
# Answer :

In [6]:
 spam[int(int('3' * 2) / 11)]

'd'

 # Answer 4 :

In [7]:
spam[-1]

'd'

# Answer 5 :

In [8]:
spam[:2]

['a', 'b']

In [10]:
# for next three questions :
bacon = [3.14, 'cat', 11, 'cat', True]

# Answer 6 :

In [11]:
bacon.index('cat')

1

# Answer 7 :

In [12]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

# Answer 8 :

In [13]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

# 9. What are the list concatenation and list replication operators?
# Answer : 
'list concatenation operator': A operator which we use to combine two or more list together is called list concatenation 
                               
                            operator.The sign of list concatenation operator is '+'. 

'list replication operator' : A operator which use to repeat same elements of list one or many times while creating new list is                               
                              
                            called list replication operator. The sign for this operator is '*' .

 Example of both of these are as follow :

In [14]:
l1 = [2,3,-45,'rudra',(235,'lucky',-856),{'k1': 346, 'k2': '6797'}]
l2 = [45,89,589,"lsjfofierj",("greg",3467,-34246)]
l = l1 + l2 
l

[2,
 3,
 -45,
 'rudra',
 (235, 'lucky', -856),
 {'k1': 346, 'k2': '6797'},
 45,
 89,
 589,
 'lsjfofierj',
 ('greg', 3467, -34246)]

In [15]:
l = [23,45,89,(3464,"grey","lost"),"revenge","lucky"]
l1 = l*2
l1

[23,
 45,
 89,
 (3464, 'grey', 'lost'),
 'revenge',
 'lucky',
 23,
 45,
 89,
 (3464, 'grey', 'lost'),
 'revenge',
 'lucky']

# 10. What is difference between the list methods append() and insert()? 
# Answer : 
'append()' : In append() method we add element at the end of list.To add element in list via append method we use                            
             l.append(object).This method takes 1 argument at a time.
    
'insert()' : In insert() method we add element at whichever index number we want to add it in list.To add element in list via                
             insert() method we use l.insert(index,object).This method takes 2 arguments at a time in which 1st is index number              
             and 2nd is object.

Both are in built functions. Example for both method are as follow :

In [16]:
l = ["dry","call",7969,-579,"34687",659679]

In [17]:
l.append((256,89,'3164'))
l

['dry', 'call', 7969, -579, '34687', 659679, (256, 89, '3164')]

In [18]:
l.append(45)
l

['dry', 'call', 7969, -579, '34687', 659679, (256, 89, '3164'), 45]

In [19]:
l.append(459,589)
l

TypeError: list.append() takes exactly one argument (2 given)

In [5]:
l.insert(2,'648')
l

['dry', 'call', '648', 7969, -579, '34687', 659679, (256, 89, '3164'), 45]

In [20]:
l.insert(0,-456)
l

[-456, 'dry', 'call', 7969, -579, '34687', 659679, (256, 89, '3164'), 45]

In [21]:
l.insert(4,3164,'dfre')
l

TypeError: insert expected 2 arguments, got 3

# 11. What are the two methods for removing items from a list?
# Answer : 
There are two methods for removing items from a list 1)remove 2)pop

1) remove : It remove the element from the list. If there are two or many same element than it remove element which occurrence 

            1st.

2) pop : It pop the element from list by given index number. If there is no index number given than by default it pop element   

         at last of list.

Both method remove one element at a time.

Example for both are as below:

In [22]:
l.remove(45)
l

[-456, 'dry', 'call', 7969, -579, '34687', 659679, (256, 89, '3164')]

In [23]:
l.remove('dry')
l

[-456, 'call', 7969, -579, '34687', 659679, (256, 89, '3164')]

In [24]:
l.pop(2)
l

[-456, 'call', -579, '34687', 659679, (256, 89, '3164')]

In [25]:
l.pop()
l

[-456, 'call', -579, '34687', 659679]

# 12.  Describe how list values and string values are identical.
# Answer :

list values and string values are identical because 

1) Both store the data(collection of element) in specific order. Which we can access using indexing method.

2) We can use concatenation and replication operation for both to create new list or string.

3) We can iterator over elements of both the types of values.

4) Both have some common method like: len(), count(), index() 
    
5) We can use 'in' operator to check specific element is present or not in both.

6) We can use slicing operation for both the types.

Example for each are as below :

# for indexing method

In [26]:
l = ['yummy', 'piller', 4566, (4646, -346, 'right')]
l[0]

'yummy'

In [27]:
s = "someone"
s[2]

'm'

# concatenation and replication operation

In [28]:
l1 = [789,589,-4589,('eye','maheta', 6467)]
l2 = [(356,'rgtgtr',-466),{'k1': 'gtgtrg', 'k2': 3646},"fggtrg",899464]
l = l1+l2
l3 = l1*3

In [29]:
l

[789,
 589,
 -4589,
 ('eye', 'maheta', 6467),
 (356, 'rgtgtr', -466),
 {'k1': 'gtgtrg', 'k2': 3646},
 'fggtrg',
 899464]

In [30]:
l3

[789,
 589,
 -4589,
 ('eye', 'maheta', 6467),
 789,
 589,
 -4589,
 ('eye', 'maheta', 6467),
 789,
 589,
 -4589,
 ('eye', 'maheta', 6467)]

In [33]:
s1 = 'ineuron'
s2 = '56678'
s = s1+s2
s3 = s2*4

In [34]:
s

'ineuron56678'

In [35]:
s3

'56678566785667856678'

# iteration

In [36]:
l = [256,789,589]
for i in l:
    print(i)

256
789
589

In [38]:
k = iter(l)

In [39]:
next(k)

256

In [40]:
next(k)

789

In [41]:
next(k)

589

In [42]:
s = "Diwali"
for i in s:
    print(i)

D
i
w
a
l
i

In [43]:
j = iter(s)

In [44]:
next(j)

'D'

In [45]:
next(j)

'i'

In [46]:
next(j)

'w'

# Common method

In [47]:
len(l)

3

In [48]:
len(s)

6

In [49]:
l.count(2)

0

In [50]:
s.count('i')

2

In [51]:
789 in l

True

In [52]:
46464 in l

False

In [53]:
'l' in s

True

In [54]:
'k' in s

False

# Slicing operation

In [55]:
l[:2]

[256, 789]

In [56]:
s[:-1]

'Diwal'

# 13. What's the difference between tuples and lists?
# Answer :

 tuples :   1) They are indicated by ().
 
           2) They are immutable.
           
           3) They are more memory efficient compare to list because they are immutable means they have fix size.
           
           4) They are hasable so it can use as key in dictionaries.
           
           5) They are slightly faster than list.
        
        Example : (6779, 5555, 'gen')
        
 lists :  1) They are indicated by [].
 
         2) They are mutable.
         
         3) They are less memory efficient compare to tuples as we can change them during programing.
         
         4) They are unhasable so it can't use as key in dictionaries.
         
         5) They are slightly slower than tuples.
            
       Example: [2346,684,'youth']

# 14. How do you type a tuple value that only contains the integer 42?
# Answer :

In [57]:
t = (42,)
t

(42,)

# 15. How do you get a list value's tuple form? How do you get a tuple value's                                                                                                                                                      list form?
# Answer :
 A list value's tuple form :

In [58]:
l = [2, 4, 6, 8, 9]
t = tuple(l)
t

(2, 4, 6, 8, 9)

A tuple value's list form :

In [59]:
t = ('red', 23, 56, 646)
l = list(t)
l

['red', 23, 56, 646]

# 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
# Answer :

list is mutable data type so variables that "contain" list values are not necessarily lists themselves but "contain" refrences to list means they store memory address of the list.

# 17. How do you distinguish between copy.copy() and copy.deepcopy()?
# Answer :
    
   copy.copy() use for shallow copy means it refers original list if we do any changes in shallow copy than original list will       
         be modified.
   
   copy.deepcopy() use for deep copy means it create new list if we do any changes in deep copy than also it doesn't affact            
        original list.
  
  Example for both are as below :

In [60]:
import copy

original_list = [[1, 2, 3], [4,5,6]]
shallow_copy = copy.copy(original_list)
shallow_copy

[[1, 2, 3], [4, 5, 6]]

In [61]:
shallow_copy[0].append(75)
print(original_list)

[[1, 2, 3, 75], [4, 5, 6]]

In [62]:
print(shallow_copy)

[[1, 2, 3, 75], [4, 5, 6]]

In [63]:
import copy

original_list = [[1, 2, 3], [4,5,6]]
deep_copy = copy.deepcopy(original_list)
deep_copy

[[1, 2, 3], [4, 5, 6]]

In [64]:
deep_copy[1].append(45)
print(original_list)

[[1, 2, 3], [4, 5, 6]]

In [65]:
print(deep_copy)

[[1, 2, 3], [4, 5, 6, 45]]