# 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
        [1980, 1981, 1982, 1983, 1984, 1985].

In [25]:
def years_list (n):
   for i in range(n, n+6):
      yield n
      n+=1

result = list(years_list(1997))
print("The list of years until your 5th birthday is:", result)

The list of years until your 5th birthday is: [1997, 1998, 1999, 2000, 2001, 2002]

# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [75]:
def years_list (n):
   for i in range(n, n+6):
      yield n
      n+=1

result = list(years_list(1997))
print("The list of years until your 5th birthday is:", result)

third_birthday = result[3]
print("The third birthday is in year :", third_birthday)

The list of years until your 5th birthday is: [1997, 1998, 1999, 2000, 2001, 2002]
The third birthday is in year : 2000

# 3.In the years list, which year were you the oldest?

In [77]:
oldest = result[5]
print("oldest in year :", oldest)

oldest in year : 2002

# 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella","salmonella".

In [82]:
things = ["mozzarella" , "cindrella" , "salmonella"]
print(things)

['mozzarella', 'cindrella', 'salmonella']

# 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [93]:
things = ["mozzarella" , "cindrella" , "salmonella"]
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'Cindrella', 'salmonella']

In [ ]:
yes, it change the element in the list.

# 6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [113]:
surprise = ["Groucho",  "Chico",  "Harpo"]
print(surprise)

['Groucho', 'Chico', 'Harpo']

# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [127]:
surprise = ["Groucho", "Chico", "Harpo"]

# for last element in lowercase
surprise[2] = surprise[2].lower()
print("last element in lowercase :", surprise)

# for reverse the last element
surprise[2] = surprise[2][::-1]
print("reverse the last element :", surprise)

# for capitalize the last element
surprise[2] = surprise[2].capitalize()
print("capitalize the last element :", surprise)

last element in lowercase : ['Groucho', 'Chico', 'harpo']
reverse the last element : ['Groucho', 'Chico', 'oprah']
capitalize the last element : ['Groucho', 'Chico', 'Oprah']

# 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [131]:
e2f = {"dog" : "chien" , "cat" : "chat" , "walrus" : "morse"}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

# 9. Write the French word for walrus in your three-word dictionary e2f.

In [134]:
e2f["walrus"]

'morse'

# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [149]:
f2e = {}
for english, french in e2f.items() :
      f2e [french] = english
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

# 11. Print the English version of the French word chien using f2e.

In [152]:
f2e["chien"]

'dog'

# 12. Make and print a set of English words from the keys in e2f.

In [161]:
e2f = {"dog" : "chien" , "cat" : "chat" , "walrus" : "morse"}
print("The set of English words from the keys :" , set(e2f.keys()))

The set of English words from the keys : {'dog', 'walrus', 'cat'}

# 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: "animals", "plants", and "other". Make the "animals" key refer to another dictionary with the keys "cats", "octopi", and "emus". Make the "cats" key refer to a list of strings with the values "Henri", "Grumpy", and "Lucy". Make all the other keys refer to empty dictionaries.

In [170]:
life = {"animals" : {"cats" :["Henri", "Grumpy", "Lucy"] , "octopi" :{} , "emus" : {} }, "plants":{} , "other": {} } 
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

# 14. Print the top-level keys of life.

In [173]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

# 15. Print the keys for life[&#39;animals&#39;].

In [180]:
print(list(life['animals'].keys()))

['cats', 'octopi', 'emus']

# 16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [183]:
print(list(life['animals']['cats']))

['Henri', 'Grumpy', 'Lucy']