# Answer 1

In [1]:
k = float(input("enter the distance in kilometers: ")) 
n= 0.62 
m = k*n
print(m,"miles")

enter the distance in kilometers: 5.89
3.6517999999999997 miles

# Answer 2

In [2]:
Celsius = float(input("enter the temp. into celsius: "))
Fahrenheit= Celsius*(9/5)+32
print(Fahrenheit,"F")

enter the temp. into celsius: 38.2
100.76 F

# Answer 3

In [3]:
import calendar
def year_calendar(year) :
    cal = calendar.calendar(year)
    print("the calendar of:",cal)

In [4]:
year_calendar(2023)

the calendar of:                                   2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

# Answer 4

In [5]:
x = float(input("enter the number for x : "))
a = float(input("enter the number for a : "))
b = float(input("enter the number for b : "))
c = float(input("enter the number for c : "))
equation = a*x**2+b*x+c
print(equation)

enter the number for x : 5
enter the number for a : 2
enter the number for b : 8
enter the number for c : 7
97.0

# Answer 5

In [6]:
x = input("enter the variable1 : ")
y = input("enter the variable2 : ")
x,y = y,x 
print("x=",x,"\n","y=",y)

enter the variable1 : 48494
enter the variable2 : "python"
x= "python"
 y= 48494